<div id="<%= dom_id lista_compra %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= lista_compra.nombre %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fecha creacion:</strong>
    <%= lista_compra.fecha_creacion %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Usuario:</strong>
    <%= lista_compra.usuario_id %>
  </div>
</div>
